@{
    ViewData["Title"] = "Export Import";
}

<!-- Page header Start -->
<div class="page-header parallaxie">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header box Start -->
                <div class="page-header-box">
                    <h2 class="text-anime-style-3">Export Import</h2>
                    <nav class="wow fadeInUp" data-wow-delay="0.25s">
                        <ol class="breadcrumb">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>Export Import</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Single Post Page Start -->
<div class="page-single-post export-import">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Blog Detail Content Start -->
                <div class="blog-detail-content">

                    <!-- Blog Detail Post Content Start -->
                    <div class="blog-detail-post-content wow fadeInUp" data-wow-delay="0.75s">
                        <p>
                            Triple S Business Hub ( TSBH) , Primarily provides procurement and distribution solutions for Industrial and Commercial spare parts, consumables,
                            equipment’s and services. Our focus is on business-to-business markets in mechanical, electrical and instrumentation, safety products, chemicals and
                            other industrial products.
                        </p>
                        <p>
                            TSBH is a Bangladeshi Enterprise. We have a clear vision and carefully follow planned long-term strategies. Having offices in
                            three strategic locations in Dhaka of Bangladesh, Guangzhou in China and California in USA. We are able to service South Asia, North American and
                            International customers effectively and efficiently.

                        </p>
                        <p>
                            Like its name, Triple S represents SMART, SERVICE and SOLUTION in business. The Company is built on a foundation of Commitment, Communication,
                            Response Time, Reliability and Customer Retention. Our management team is a highly motivated group driven by two central concepts: Meeting
                            Customer’s expectations, and Excellence in business. We have a progressive mindset and embrace change to improve our business practices on an
                            ongoing basis. We believe in taking careful steps and keeping our fundamentals strong as we are committed to servicing our customer’s needs day after
                            day, year after year.

                        </p>
                        <h6>OUR PEOPLE </h6>

                        <p>
                            We have team of trained and motivated people at place for various functions within the organization. There is seamless interactions amongst
                            various groups. Everyone is focused to serve our customers with utmost dedication.

                        </p>

                        <h6>SALES</h6>
                        <p>
                            A team with knowledge of our products and Industries we serve. They excel in forming relationship with Customers, using effective sales
                            strategies and tools.

                        </p>
                    </div>
                    <!-- Blog Detail Post Content End -->
                </div>
                <!-- Blog Detail Content End -->
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-8  col-md-12">
                <!-- Service Details sidebar Start -->
                <div class="blog-detail-post-content wow fadeInUp" data-wow-delay="0.75s">

                    <h6>MARKETING</h6>
                    <p>
                        Understanding what are our markets and what our customer needs and desires. Translating those needs into a marketing strategy and
                        implementing them effectively.

                    </p>
                    <h6>PROCUREMENT</h6>
                    <p>
                        Identifying right suppliers across the globe and collaborating to provide effective and timely service to our customers. Also promoting
                        professional products. Use of effective tool to register prospective suppliers.
                    </p>
                    <h6>PROCESS</h6>
                    <p>
                        Standard approach to customer inquiries, technical evaluation. Identifying right manufacturer / supplier for requested products. Interfacing
                        Customer and supplier to resolve technical queries
                    </p>
                    <h6>SUPPLY CHAIN</h6>
                    <p>
                        Collaborating internally and externally to ensure that we have the right products at the right place and at the right time.
                    </p>
                    <h6>INFORMATION TECHNOLOGY </h6>
                    <p>
                        Our trained IT team creates seamless infrastructure which automates processes, enabling effective communication throughout our
                        organization and externally with our customers, suppliers, freight companies etc. Team uses most recent IT tools and keeps pace with
                        the changing needs.
                    </p>
                    <h6>FINANCE</h6>
                    <p>
                        Responsible money management and accountability ensures our ability to maintain sustainable growth consistently.
                    </p>


                    <h6>HUMAN RESOURCES</h6>
                    <p>
                        Achieving organizational excellence through creating and implementing strategic programs enriching the organization’s value to customers,
                        employees and stakeholders.
                    </p>
                </div>
                <!-- Service Details sidebar End -->
            </div>
            <div class="col-lg-4  col-md-12">
                <!-- Service Details sidebar Start -->
                <div class="service-details-sidebar">


                    <div class="blog-details-post-widget wow fadeInUp" data-wow-delay="0.5s">
                        <div class="post-widget-body">
                            <!-- Recent Post Item Start -->
                            <div class="recent-post-item">

                                <div class="recent-post-content ">
                                    <h3> OUR PHILOSOPHY </h3>
                                    <p>
                                        We help our customers be successful with our products and services, applying scientific approach, providing best in class services and being
                                        truthful to our partners and people.
                                    </p>
                                    <p>
                                        It’s our people and processes that lead to our continued success. Our ability to provide excellent service and right products to our customers is
                                        dependent upon our team. Our people are customer service oriented passionate and innovative.
                                    </p>

                                </div>
                            </div>
                            <!-- Recent Post Item End -->
                        </div>
                    </div>

                </div>
                <!-- Service Details sidebar End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Blog Detail Content Start -->
                <div class="blog-detail-content">

                    <!-- Blog Detail Post Content Start -->
                    <div class="blog-detail-post-content wow fadeInUp" data-wow-delay="0.75s">
                        <p>
                            At TSBH, you will find a dedication to quality and excellence; an emphasis on respect to our customers, business partners and fellow employees; a level
                            of expertise and ownership which is second to none and a dedication to ethical and social responsibility.
                        </p>
                        <p>
                            In order to sustain continuous growth, develop and innovate, we look for people who are adaptable, self-motivated, creative and positive. In return, we
                            provide challenging and rewarding careers in a corporate culture which is both engaging and supportive

                        </p>
                    </div>
                    <!-- Blog Detail Post Content End -->
                </div>
                <!-- Blog Detail Content End -->
            </div>
        </div>
    </div>
</div>

<div class="our-indurstry choose-us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-detail-post-content wow fadeInUp" data-wow-delay="0.75s">
                    <div class="section-title">
                        <h1 class="text-anime-style-3"><span>Why You Choose Us</span></h1>
                    </div>
                    <p>
                        Triple S Business Hub focuses on innovative ideas and continuous improvement in systems. We believe in demonstration and outside in approach. We like
                        to align ourselves to varying customer requirements, thanks to our IT enabled business model. People and IT capabilities are our greatest enabler of
                        business. Customer can take advantage of our experienced and techno-commercially trained people from diverse background. Reduced number of
                        vendors to manage, giving you considerable purchasing and administration cost savings.
                    </p>
                </div>

            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Indurstry Image Start -->
                <div class="indurstry-image">
                    <figure class="reveal image-anime">
                        <img src="~/images/featured-content-img.jpg" alt="">
                    </figure>
                </div>
                <!-- Indurstry Image End -->
            </div>
            <div class="col-lg-6">
                <div class="our-indurstry-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h4 class="text-anime-style-3">Our response time is one of the best in the Industry</h4>
                    </div>
                    <!-- Section Title End -->
                    <!-- Indurstry Content Start -->
                    <div class="indurstry-content">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Our success is supported by a strong network of suppliers supporting every facet of our services. We welcome new Vendors that can demonstrate and
                            deliver products / services to the following standards

                        </p>

                        <ul class="wow fadeInUp" data-wow-delay="0.5s">
                            <li><i class="fa-regular fa-circle-check"></i> Adherence to quality standards of our products and services </li>
                            <li><i class="fa-regular fa-circle-check"></i>A commitment to on time delivery</li>
                            <li><i class="fa-regular fa-circle-check"></i>Competitive pricing and financial stability </li>
                            <li><i class="fa-regular fa-circle-check"></i>Customer focus</li>
                            <li><i class="fa-regular fa-circle-check"></i>Innovative & progressive business ideas</li>
                            <li><i class="fa-regular fa-circle-check"></i> Safety and environmental compliance </li>
                        </ul>
                    </div>
                    <!-- Indurstry Content End -->
                </div>

                <div class="our-indurstry-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h4 class="text-anime-style-3">Excellent global sourcing capability </h4>
                    </div>
                    <!-- Section Title End -->
                    <!-- Indurstry Content Start -->
                    <div class="indurstry-content">
                        <ul class="wow fadeInUp" data-wow-delay="0.5s">
                            <li><i class="fa-regular fa-circle-check"></i>Professionally qualified technical team</li>
                            <li><i class="fa-regular fa-circle-check"></i>Reliability in terms of ensuring correct material and timely delivery</li>
                            <li><i class="fa-regular fa-circle-check"></i>Large database of manufacturers/ suppliers/ stockiest</li>
                            <li><i class="fa-regular fa-circle-check"></i> Worldwide sourcing, integration and delivery to meet customer’s critical and urgent requirements </li>
                            <li><i class="fa-regular fa-circle-check"></i>Unique and customized ERP system for efficient and error free processing </li>
                            <li><i class="fa-regular fa-circle-check"></i> Focus and emphasis on after sales services  </li>
                            <li><i class="fa-regular fa-circle-check"></i> Effective communication with customers and suppliers globally across various time zones </li>
                        </ul>
                    </div>
                    <!-- Indurstry Content End -->
                </div>
            </div>

        </div>
    </div>
</div>

<div class="about-transport">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="our-indurstry-content">
                    <!-- Section Title Start -->
                    <div class="mb-2">
                        <h4 class="text-anime-style-3">VENDOR RELATIONS</h4>
                    </div>
                    <!-- Section Title End -->
                    <!-- Indurstry Content Start -->
                    <div class="indurstry-content">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            TRIPLE S BUSINESS HUB is recognized by customers around the world for its services in delivering unmatched quality and performance. This achievement
                            is supported by a strong network of manufacturers and suppliers supporting every facet of our business. We welcome new vendors that can deliver
                            products and services to these standards.
                        </p>

                        <ul class="wow fadeInUp" data-wow-delay="0.5s">
                            <li><i class="fa-regular fa-circle-check"></i>Outreach from our sourcing team to vendor companies for briefings on their current offerings. </li>
                            <li><i class="fa-regular fa-circle-check"></i>Briefings requested by vendor companies seeking to share information about their products, solutions, and market position. </li>
                            <li><i class="fa-regular fa-circle-check"></i>Participation as independent reviewers at analyst round tables and industry forums to offer unbiased, third-party opinion on IT issues orsolutions. </li>

                        </ul>
                    </div>
                    <!-- Indurstry Content End -->
                </div>
            </div>
            <div class="col-lg-6">

                <div class="our-indurstry-content">
                    <!-- Section Title Start -->
                    <div class="mb-2">
                        <h4 class="text-anime-style-3">What We Look for </h4>
                    </div>
                    <div class="indurstry-content">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Companies that provide our customer approved products and makes with high-quality goods and services, used by TSBH’s must demonstrate thefollowing qualities
                        </p>
                        <ul class="wow fadeInUp" data-wow-delay="0.5s">
                            <li><i class="fa-regular fa-circle-check"></i>A commitment to on time delivery </li>
                            <li><i class="fa-regular fa-circle-check"></i>Adherence to our clients Quality Standards and requirements</li>
                            <li><i class="fa-regular fa-circle-check"></i>Financial stability</li>
                            <li><i class="fa-regular fa-circle-check"></i>Competitive pricing </li>
                            <li><i class="fa-regular fa-circle-check"></i>Customer focus </li>
                            <li><i class="fa-regular fa-circle-check"></i>Innovative business solutions</li>
                            <li><i class="fa-regular fa-circle-check"></i> Demonstrated safety and environmental compliance </li>
                        </ul>
                    </div>
                    <!-- Indurstry Content End -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-indurstry choose-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="blog-detail-post-content wow fadeInUp" data-wow-delay="0.75s">
                    <div class="section-title">
                        <h3 class="text-anime-style-3"><span>SUPPLIER SELECTION PROCESS</span></h3>
                    </div>
                    <p>
                        As a global standard company with deep roots in the local and international communities we serve, we are committed to developing partnerships to
                        help us build a best-in-class supply chain. TSBH’s supplier selection process enables us to source goods and services to meet the collective needs of
                        the business at the highest quality and lowest total cost. For products not specific to clients specification we use six-Stage Supplier Selection Process
                        We utilize a multi-step sourcing process to identify industry-leading suppliers capable of delivering goods and services that consistently meet our
                        business needs and provide us a competitive advantage. The graphic below illustrates our ongoing search and evaluation process.

                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <!-- Indurstry Image Start -->
                <div class="indurstry-image">
                    <figure class="reveal image-anime">
                        <img src="~/images/process.png" alt="">
                    </figure>
                </div>
                <!-- Indurstry Image End -->
            </div>
        </div>
    </div>
</div>


<div class="about-transport">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="text-anime-style-3"><span>PRODUCTS & SERVICES</span></h3>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="service-details-body">
                    <h4 class="wow fadeInUp" data-wow-delay="0.25s">ENTERING GOVT. BIDS & TENDERS</h4>

                    <p class="wow fadeInUp" data-wow-delay="0.5s">
                        We are entering government Bids & tenders both in civil & Electrical project and Gas & Oil Refinery Sector.
                        Some of our hot supply goods are
                    </p>

                    <div class="service-body-list wow fadeInUp" data-wow-delay="0.75s">
                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>
                                Pumps , Machinery , Spare Parts Of Oil Refinery & Gas Field
                            </p>
                        </div>

                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>Marine Equipment , Rubber Fender Etc.<p>
                        </div>

                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>Electrical Pole, HT Line , LT Line, Sub Station, Transformer etc <p>
                        </div>

                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>High Mast Tower and Light for Yard, Stadium Etc.<p>
                        </div>
                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>Supply Of Heavy Industrial Generator.<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">


                <div class="service-details-body">
                    <h4 class="wow fadeInUp" data-wow-delay="0.25s">IMPORT & PRODUCT SOURCING</h4>

                    <p class="wow fadeInUp" data-wow-delay="0.5s">
                        One of our main services is product sourcing and Import. Many companies especially in Bangladesh lacks the ability or the time to source products they
                        need. Further, resourcing can be exhausted and fruitless if you do not get the right products you need.

                        We take the time and spent the energy to find you the best in the market at the best price. We will advise you on the choice regardless of what products
                        you need. Our Major importable products are
                    </p>

                    <div class="service-body-list wow fadeInUp" data-wow-delay="0.75s">
                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>
                                Cosmetics & Toiletries.
                            </p>
                        </div>

                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>Machineries<p>
                        </div>

                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>Chemicals<p>
                        </div>

                        <div class="service-info-box">
                            <div class="icon-box">
                                <i class="fa-regular fa-circle-check"></i>
                            </div>

                            <p>Handling Equipment<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-indurstry choose-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Indurstry Image Start -->
                <div class="indurstry-image">
                    <figure class="reveal image-anime">
                        <img src="~/images/service-1.jpg" alt="">
                    </figure>
                </div>
                <!-- Indurstry Image End -->
            </div>
            <div class="col-lg-6">
                <div class="our-indurstry-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h4 class="text-anime-style-3">EXPORT</h4>
                    </div>
                    <!-- Section Title End -->
                    <!-- Indurstry Content Start -->
                    <div class="indurstry-content">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Bangladesh offers very low production costs and has become one of the most cost-efficient production hubs in the world.
                        </p>
                        <p>
                            Bangladesh is becoming one of the most popular outsourcing destinations in the world and even a large number of Chinese companies are now moving
                            to Bangladesh to seek cost efficient supply. Our major exportable products are
                        </p>

                        <ul class="wow fadeInUp" data-wow-delay="0.5s">
                            <li><i class="fa-regular fa-circle-check"></i>Jute and Jute products </li>
                            <li><i class="fa-regular fa-circle-check"></i>Food Products</li>
                            <li><i class="fa-regular fa-circle-check"></i>Fruits </li>
                            <li><i class="fa-regular fa-circle-check"></i>Vegetable</li>
                            <li><i class="fa-regular fa-circle-check"></i>Handicrafts</li>
                        </ul>
                    </div>
                    <!-- Indurstry Content End -->
                </div>
            </div>

        </div>
    </div>
</div>

<div class="about-transport marketing">
    <div class="container">
        <div class="row">
            <div class="project-details-box">
                <h3 class="text-center mb-4">DISTRIBUTION AND MARKETING</h3>
                <div class="row">
                    <div class="col-md-4 col-6">
                        <div class="project-details-content wow fadeInUp" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                            <p class="text-start">
                                The Bangladesh is one of the largest consumer markets in the world,
                                especially that this region always starving for new technology and products.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="project-details-content wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <p class="text-start">
                                You will find a profitable market within the Indian Sub-Continent, whether it’s for your products, technology, or services. In a region that has the buying
                                power and the large population yet that lacks production and depends on imports, you need to consider the Bangladesh as a target market.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="project-details-content wow fadeInUp" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                            <p class="text-start">
                                The problem facing most suppliers or manufactures is how to reach this complex market that lacks proper marketing tools and advertising. We are most
                                familiar with this market and this region. Plus, we are specialized professionals in finding the right methods to target the market.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Single Post Page End -->
<!-- Service Details Section End -->
@section Scripts{


    }
