@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Start -->
<div class="hero parallaxie">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7">
                <!-- Hero Left Content Start -->
                <div class="hero-content">
                    <div class="hero-content-title">
                        <h1 class="text-anime-style-3">Triple S Group <br /> <span>around the world</span></h1>
                    </div>
                    <div class="hero-content-body wow fadeInUp" data-wow-delay="0.25s">
                        <p>Need to move goods? Our freight and logistics solutions are tailored to meet your specific needs. We offer reliable cargo transportation, warehousing, distribution, and supply chain management services to ensure timely and secure delivery.</p>
                    </div>
                    <div class="hero-content-footer wow fadeInUp" data-wow-delay="0.5s">
                        <a href="#" class="btn-default">Explore More</a>
                    </div>
                </div>
                <!-- Hero Left Content End -->
            </div>

            <div class="col-lg-6 col-md-5">
                <!-- Hero Video Section Start -->
                @* <div class="video-play-button">
                    <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                    <img src="images/play.svg" alt="">
                    </a>
                    </div>*@
                <!-- Hero Video Section End -->
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->

<!-- Group intro Section Start -->
<div class="cargo-shipment">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3">
                <!-- Cargo Shipment Item Start -->
                <div class="cargo-shipment-item wow fadeInUp" data-wow-delay="0.25s">
                    <div class="cargo-shipment-image">
                        <img src="images/cargo-shipment-bg-img-1.jpg" alt="">
                    </div>
                    <div class="cargo-shipment-content">
                        <div class="cargo-shipment-icon">
                            <img src="images/icon-cargo-1.svg" alt="">
                        </div>
                        <h3>Triple S Logistics</h3>
                        <p>International Freight Forwarding & NVOCC…….</p>
                        <div class="cargo-shipment-readmore">
                            <a asp-area="" asp-controller="Home" asp-action="Logistics">Explore More</a>
                        </div>
                    </div>
                </div>
                <!-- Cargo Shipment Item End -->
            </div>

            <div class="col-md-3">
                <!-- Cargo Shipment Item Start -->
                <div class="cargo-shipment-item active wow fadeInUp" data-wow-delay="0.5s">
                    <div class="cargo-shipment-image">
                        <img src="images/cargo-shipment-bg-img-2.jpg" alt="">
                    </div>
                    <div class="cargo-shipment-content">
                        <div class="cargo-shipment-icon">
                            <img src="images/icon-cargo-2.svg" alt="">
                        </div>
                        <h3>Triple S Electronics</h3>
                        <p>Electrical Apparatus Manufacturer…….</p>
                        <div class="cargo-shipment-readmore">
                            <a asp-area="" asp-controller="Home" asp-action="Electronics">Explore More</a>
                        </div>
                    </div>
                </div>
                <!-- Cargo Shipment Item End -->
            </div>

            <div class="col-md-3">
                <!-- Cargo Shipment Item Start -->
                <div class="cargo-shipment-item wow fadeInUp" data-wow-delay="0.75s">
                    <div class="cargo-shipment-image">
                        <img src="images/cargo-shipment-bg-img-3.jpg" alt="">
                    </div>
                    <div class="cargo-shipment-content">
                        <div class="cargo-shipment-icon">
                            <img src="images/icon-cargo-3.svg" alt="">
                        </div>
                        <h3>Triple S Business Hub</h3>
                        <p>Import, Export, Indenting and Govt A Class Contractor</p>
                        <div class="cargo-shipment-readmore">
                            <a asp-area="" asp-controller="Home" asp-action="BusinessHub">Explore More</a>
                        </div>
                    </div>
                </div>
                <!-- Cargo Shipment Item End -->
            </div>

            <div class="col-md-3">
                <!-- Cargo Shipment Item Start -->
                <div class="cargo-shipment-item active wow fadeInUp" data-wow-delay="0.5s">
                    <div class="cargo-shipment-image">
                        <img src="images/cargo-shipment-bg-img-2.jpg" alt="">
                    </div>
                    <div class="cargo-shipment-content">
                        <div class="cargo-shipment-icon">
                            <img src="images/icon-cargo-2.svg" alt="">
                        </div>
                        <h3>The Tech Park</h3>
                        <p>Specialized customized Shipping, Logistics software developer and Outsourcing ……</p>
                        @*<div class="cargo-shipment-readmore">
                            <a href="#">Explore More</a>
                            </div>*@
                    </div>
                </div>
                <!-- Cargo Shipment Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Group intro Section End -->

<!-- About Us Section Start -->
<div class="home-transportation about-transportation">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-lg-1 order-md-2 order-2">
                <!-- Home Transportation Content Start -->
                <div class="home-transportation-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2 class="text-anime-style-3"><span>About Us</span></h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- Home Transportation Body Start -->
                    <div class="home-transportation-body">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Triple S has begun its journey recently in 2017.
                            The owner of the group was started business in 2010 and got success on trading and supply.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">
                            Triple S is being managed by highly qualified technical and management professionals.
                            The excellence of the technology and blooming genius of its personnel are the strength
                            of the organization. Triple S with its various interests is rolling ahead with drive
                            and determination to be the best in all the areas it operates.
                        </p>
                    </div>
                    <!-- Home Transportation Body End -->
                    <!-- Home Transportation footer Start -->
                    <div class="home-transportation-footer wow fadeInUp" data-wow-delay="0.75s">
                        <div class="transportation-footer-btn">
                            <a href="#" class="btn-default">To Know More</a>
                        </div>
                        <div class="header-contact-us">
                            <a href="#"><img src="images/icon-phone.svg" alt=""><h3>Call Anytime <span>+88 09613828181</span></h3></a>
                        </div>
                    </div>
                    <!-- Home Transportation footer End -->
                </div>
                <!-- Home Transportation content End -->
            </div>

            <div class="col-lg-6 col-md-12 order-lg-2 order-md-1 order-1">
                <!-- Home Transportation Image Start -->
                <div class="home-transportation-right">
                    <div class="transportation-img-1">
                        <figure class="reveal image-anime">
                            <img src="images/sssGroup.png" alt="">
                        </figure>
                    </div>

                    <div class="transportation-img-2">
                        <figure class="reveal image-anime">
                            <img src="images/transportation-img-2.jpg" alt="">
                        </figure>
                    </div>

                    <!-- Facts Counter Box Start -->
                    <div class="transportation-counter-box wow fadeInUp" data-wow-delay="0.5s">
                        <h3><span class="counter">7</span>+</h3>
                        <p>Years of Experience</p>
                    </div>
                    <!-- Facts Counter Box End -->
                </div>
                <!-- Home Transportation Image End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->

<!-- About Us Section Start -->
<div class="about-transport">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="wow fadeInUp" data-wow-delay="0.25s">
                    The company flourished with its gradual demand in the market
                    and now business diversified on below three sector.
                </h5>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <!-- Transport Item Start -->
                <div class="transport-item wow fadeInUp" data-wow-delay="0.25s">
                    <!-- Transport Icon Start -->
                    <div class="icon-box">
                        <img src="images/icon-transport-1.svg" alt="">
                    </div>
                    <!-- Transport Icon End -->
                    <!-- Transport Content Start -->
                    <div class="transport-content">
                        <h3>Triple S Business Hub </h3>
                        <p>Import, Export, Indenting and Govt A Class Contractor</p>
                        <div class="cargo-shipment-readmore">
                            <a asp-area="" asp-controller="Home" asp-action="BusinessHub">Explore More</a>
                        </div>
                    </div>

                    <!-- Transport Content End -->
                </div>
                <!-- Transport Item End -->
            </div>

            <div class="col-md-4">
                <!-- Transport Item Start -->
                <div class="transport-item wow fadeInUp" data-wow-delay="0.5s">
                    <!-- Transport Icon Start -->
                    <div class="icon-box">
                        <img src="images/icon-transport-1.svg" alt="">
                    </div>
                    <!-- Transport Icon End -->
                    <!-- Transport Content Start -->
                    <div class="transport-content">
                        <h3>Triple S Logistics</h3>
                        <p>International Freight Forwarding & NVOCC…….</p>
                        <div class="cargo-shipment-readmore">
                            <a asp-area="" asp-controller="Home" asp-action="Logistics">Explore More</a>
                        </div>
                    </div>
                    <!-- Transport Content End -->
                </div>
                <!-- Transport Item End -->
            </div>

            <div class="col-md-4">
                <!-- Transport Item Start -->
                <div class="transport-item wow fadeInUp" data-wow-delay="0.75s">
                    <!-- Transport Icon Start -->
                    <div class="icon-box">
                        <img src="images/icon-transport-1.svg" alt="">
                    </div>
                    <!-- Transport Icon End -->
                    <!-- Transport Content Start -->
                    <div class="transport-content">
                        <h3>Triple S Electronics </h3>
                        <p>Electrical Apparatus Manufacturer…….</p><br />
                        <div class="cargo-shipment-readmore">
                            <a asp-area="" asp-controller="Home" asp-action="Electronics">Explore More</a>
                        </div>
                    </div>

                    <!-- Transport Content End -->
                </div>
                <!-- Transport Item End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->

<!-- Core Value Section Start -->
<div class="our-indurstry">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Indurstry Image Start -->
                <div class="indurstry-image">
                    <figure class="reveal image-anime">
                        <img src="images/core-value.png" alt="">
                    </figure>
                </div>
                <!-- Indurstry Image End -->
            </div>
            <div class="col-lg-6">
                <div class="our-indurstry-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2 class="text-anime-style-3"><span>CORE VALUE</span></h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- Indurstry Content Start -->
                    <div class="indurstry-content">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Triple S Group is focusing one stop business Centre of the future,
                            with a mission to make life better for people everywhere along our
                            global Network. We offer end-to-end solutions of Trade & Services and
                            Engineering Construction. It focuses on trading & service, exploring
                            both foreign and domestic markets, striving to build its core competence
                            through marketing developing, resource integration and brand construction.
                        </p>

                        <ul class="wow fadeInUp" data-wow-delay="0.5s">
                            <li><i class="fa-regular fa-circle-check"></i> Innovation</li>
                            <li><i class="fa-regular fa-circle-check"></i> Quality</li>
                            <li><i class="fa-regular fa-circle-check"></i> Respect</li>
                            <li><i class="fa-regular fa-circle-check"></i> Growth</li>
                        </ul>
                    </div>
                    <!-- Indurstry Content End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Core Value Section End -->

<!-- recent project section Start -->
<div class="recent-project">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="section-title">
                <h2 class="text-anime-style-3"> <span> Our Success Story</span></h2>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="project-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/jetty-light.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra Port Jetty Lighting ( High Mast Pole with Flood Light )</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/jetty-light1.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra Port Jetty Lighting ( High Mast Pole with Flood Light )</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/street-light.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra port Street Light</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/street-light1.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra port Street Light</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/street-construction.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra port 5 KM street light ( Under construction )</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/building.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra port Multipurpose Building ( joint venture project)</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/dormitory.png" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra Port Officer Dormitory ( Use third party license )</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/rack.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra port warehouse racking system </a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/rack1.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">Payra port warehouse racking system </a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/factory-light.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">AKH Knitting & Dying Ltd ( Example of Garments Factory Lighting )</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                            <!-- recent projects slide Start -->
                            <div class="swiper-slide">
                                <div class="project-item">
                                    <div class="project-image">
                                        <figure class="image-anime">
                                            <img src="images/factory-light1.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="project-content">
                                        <div class="project-content-title">
                                            <h3><a href="#">AKH Knitting & Dying Ltd ( Example of Garments Factory Lighting )</a></h3>
                                            <span><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- recent projects slide End -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="client-button-prev"><i class="fa-regular fa-circle-left"></i></div>
                    <div class="client-button-next"><i class="fa-regular fa-circle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- recent project section End -->
<!-- Our Contract Section Start -->
<div class="our-contract parallaxie">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <!-- Our Cta Box Start -->
                <div class="our-cta-box">
                    <div class="our-contract-title">
                        <h2 class="text-anime-style-3">World's leading contract logistics provider</h2>
                    </div>
                    <div class="our-contract-body">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">Feel free to reach out to us with any inquiries about our services, pricing, tracking shipments, or any other logistic-related questions.</p>
                        <a href="#" class="btn-default wow fadeInUp" data-wow-delay="0.5s">Contact Now</a>
                    </div>
                </div>
                <!-- Our Cta Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Contract Section End -->
@section Scripts{

<script>
         var swiper = new Swiper('.swiper', {
        slidesPerView: 4, // Display 4 slides in a row
        spaceBetween: 10, // Adjust the space between slides if needed
        navigation: {
            nextEl: '.client-button-next',
            prevEl: '.client-button-prev',
        },
    });
</script>

    }
