@{
    ViewData["Title"] = "Freight Forwarding";
}

<!-- Page header Start -->
<div class="page-header parallaxie">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header box Start -->
                <div class="page-header-box">
                    <h2 class="text-anime-style-3">Freight Forwarding</h2>
                    <nav class="wow fadeInUp" data-wow-delay="0.25s">
                        <ol class="breadcrumb">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>Freight Forwarding</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Providing Service Section Start -->
<div class="providing-service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="Featured-Content-Box">
                    <figure class="reveal image-anime">
                        <img src="~/images/featured-content-img.jpg" alt="">
                    </figure>
                </div>
            </div>

            <div class="col-lg-6">
                <!-- Providing Content Start -->
                <div class="providing-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h4 class="text-anime-style-3"> <span>TRIPLE S LOGISTICS</span></h4>
                    </div>
                    <!-- Section Title End -->
                    <!-- Providing Content Body Start -->
                    <div class="providing-content-body">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            <span>TRIPLE S LOGISTICS</span> is one of the premier logistics service provider.
                            We offer end-to-end supply chain solutions for multinational corporations
                            and international brands – from sourcing and manufacturing, to selling
                            across the globe.
                        </p>

                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Head office in Dhaka, Bangladesh. We have global network that stretches across
                            six continents, and includes the largest distribution network and hub operations
                            around the world.
                        </p>

                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            TRIPLE S LOGISTICS cover industries – including fashion & lifestyle,
                            electronics & technology, food & beverage, industrial & material science,
                            automotive, and pharmaceutical & healthcare etc.
                        </p>

                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Our expertise covers all categories of merchandise, non-merchandise,
                            Point-of-Sale Materials (POSM), and more
                        </p>
                    </div>
                    <!-- Providing Content Body End -->
                </div>
                <!-- Providing Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Providing Service Section End -->
<!-- Mission Vision Section Start -->
<div class="mission-vision">
    <div class="container">
        <div class="row">

            <div class="col-lg-7  col-md-12">
                <!-- Service Details sidebar Start -->
                <div class="service-details-sidebar">
                    <!-- Post Category List Start -->
                    <div class="post-Category-list wow fadeInUp" data-wow-delay="0.25s">
                        <div class="footer-info-heading">
                            <h2>Mission</h2>
                        </div>
                        <p class="text-white">
                            <b> Quality customer service and experience leveraging technology.</b>We strive to deliver a transparent,
                            reliable, and accountable service by aligning our business practices and values with our customers goals.
                            Together, we build smart and efficient end-to-end logistics solutions.

                        </p>

                        <div class="footer-info-heading mt-5">
                            <h2>Vision</h2>
                        </div>
                        <p class="text-white">
                            <b> Transform logistics into a technology industry. </b> We are working to achieve a paradigm shift in how the
                            logistics industry thinks about itself and is perceived by its customers and investors. We see an
                            industry led by those best able to develop and deploy transformational technology that powers their
                            operating model and customer proposition.
                        </p>
                    </div>
                    <!-- Post Category List End -->
                </div>
                <!-- Service Details sidebar End -->

            </div>

            <div class="col-lg-5  col-md-12">
                <!-- Service Details sidebar Start -->
                <div class="service-details-sidebar">
                    <!-- Post Category List Start -->
                    <div class="post-Category-list wow fadeInUp" data-wow-delay="0.25s">
                        <div class="footer-info-heading">
                            <h2>Core Services:</h2>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-right-long"></i>Sea Freight</a></li>
                            <li><a href="#"><i class="fa-solid fa-right-long"></i>Air Freight</a></li>
                            <li><a href="#"><i class="fa-solid fa-right-long"></i>Sea-Air Freight</a></li>
                            <li><a href="#"><i class="fa-solid fa-right-long"></i>Road Logistics</a></li>

                            <li><a href="#"><i class="fa-solid fa-right-long"></i>Quality Inspection</a></li>
                            <li><a href="#"><i class="fa-solid fa-right-long"></i>Supply Chain Solution.</a></li>
                            <li><a href="#"><i class="fa-solid fa-right-long"></i>Value Added Services. </a></li>

                        </ul>
                    </div>
                    <!-- Post Category List End -->
                </div>
                <!-- Service Details sidebar End -->
            </div>
        </div>
    </div>
</div>
<!-- Mission Vision Section End -->
<!-- FREIGHT FORWARDING Section Start -->
<div class="providing-service">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <!-- Providing Content Start -->
                <div class="providing-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h4 class="text-anime-style-3"> <span>INTERNATIONAL FREIGHT FORWARDING</span></h4>
                    </div>
                    <!-- Section Title End -->
                    <!-- Providing Content Body Start -->
                    <div class="providing-content-body">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            With a global network spanning six continents and strong partnerships with major ocean,
                            air and ground carriers, TRIPLE S LOGISTICS offers reliable, competitive international
                            freight solutions that support the growth and expansion of your business in new and
                            existing markets.
                        </p>

                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            We offer tailored, flexible solutions to cater to specific cost, time and routing needs.
                            We are dedicated to constantly devising new freight models and competitive solutions to
                            meet the ever-changing needs of your business.
                        </p>
                    </div>
                    <!-- Providing Content Body End -->
                </div>
                <!-- Providing Content End -->
            </div>

            <div class="col-lg-6">
                <div class="Featured-Content-Box">
                    <figure class="reveal image-anime">
                        <img src="~/images/SupplyProduct/map.jpg" alt="">
                    </figure>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- FREIGHT FORWARDING Section End -->
<!-- FREIGHT FORWARDING Section Start -->
<div class="providing-service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Providing Content Start -->
                <div class="providing-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h4 class="text-anime-style-3"> <span>SUPPLY CHAIN SOLUTION</span></h4>
                    </div>
                    <!-- Section Title End -->
                    <!-- Providing Content Body Start -->
                    <div class="providing-content-body">
                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Global supply chains are increasingly complex and multi-dimensional.
                            To support your sourcing, manufacturing and distribution activities in
                            multiple countries, TRIPLE S LOGISTICS offers highly customized solutions
                            to cater to your unique requirements.
                        </p>

                        <p class="wow fadeInUp" data-wow-delay="0.25s">
                            Through long-term partnership, competitive cost management and continuous improvement,
                            we are committed to helping you achieve your strategic requirements at the global,
                            regional and local level.
                        </p>
                    </div>
                    <!-- Providing Content Body End -->
                </div>
                <!-- Providing Content End -->
            </div>

            <div class="col-lg-6">
                <div class="Featured-Content-Box">
                    <figure class="reveal image-anime">
                        <img src="~/images/SupplyProduct/supply-chain.png" alt="">
                    </figure>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="Featured-Content-Box">
                    <figure class="reveal image-anime">
                        <img src="~/images/SupplyProduct/chain1.jpg" alt="">
                    </figure>
                </div>
            </div>




        </div>
    </div>
</div>
<div class=" d-flex justify-content-center">
    <div class="post-body text-center">
        <h3>For More Information Please Visit</h3>
        <a href="https://tslebiz.com/" class="btn-default wow fadeInUp" data-wow-delay="0.75s">tslebiz</a>
    </div>
</div>
<!-- FREIGHT FORWARDING Section End -->
