@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- Page header Start -->
<div class="page-header parallaxie">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header box Start -->
                <div class="page-header-box">
                    <h2 class="text-anime-style-3">Privacy Policy</h2>
                    <nav class="wow fadeInUp" data-wow-delay="0.25s">
                        <ol class="breadcrumb">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>Privacy Policy</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container mt-4">
    <div class="service-details-body">
        <h2>Privacy Statement</h2>
        <p>Triple S Group Global LLC ("Triple S Group", "we", "us" or "our") and its subsidiary and affiliated entities have created this privacy policy ("Policy) to demonstrate our firm commitment to protecting the personal information of our users ("you") and to inform you of our data collection, use and disclosure practices. This Policy addresses maintaining the privacy of personal information and data we collect.</p>

        <p>The Policy describes our privacy practices in connection with your use of our website  and the usage of our services (the "Services").<strong> Please read this Policy carefully. By using the Site you agree that your data and personal information may be collected, used and disclosed in the ways we describe. Do not use the Site if you do not agree with the practices described in this Policy.</strong></p>

        <p>
            <strong>INFORMATION WE COLLECT AND TRACK.</strong> Triple S Group collects and retains data, including personal information, about you. "Personal Information" generally means information that can reasonably identify an individual or household. We collect Personal Information and data when you interact with the Site, or provide it to us on certain other occasions (such as via the phone, in person meetings, emails or in response to mailings).
        </p>
        <p>
            <strong>
                Personal Identifiers. We collect personal indentifiers including name, date of birth, email address, postal or residential address, and telephone number.

            </strong>
        </p>
        <p>
            <strong>
                Tracking Data. We collect information that is automatically collected from every Site visitor. The data           may include, without limitation, information regarding the number and frequency of visits to the Site, the        websites that you access before and after you visit the Site, the Internet software used to access the            Site, and your IP address and Internet service provider.
            </strong>
        </p>
        <p>
            <strong>
                Survey and Poll Data. Through our Site, you may have the opportunity to participate in surveys and polls that ask for Personal Information. Participating in these polls in completely optional.
            </strong>
        </p>
        <p>
            <strong> Sensitive Information. We do not currently collect "sensitive" or "special category" data or information as defined by data protection laws. Do not provide us with any sensitive information unless we have given you prior authorization to do so.</strong>
        </p>
        <p>
            <strong>Third Party Information. Through our Site and Services, you may have the opportunity to invite other individuals to register for our Services or receive communications from us by providing us with their name, email, and company. By providing us with another individual’s information, you represent and warrant that they have provided you with consent to do so, and you have full authority to provide us with this information.</strong>
        </p>
        <p>
            <strong>HOW WE USE YOUR INFORMATION. The data and Personal Information that we collect and that you provide to us is used for our business purposes and the purpose for which you provided it, including, without limitation, to respond to your requests or correspondence. Triple S Group may also use your Personal Information to contact you about the Site or to request your input regarding ways in which we might improve the Site. We may also use your Personal Information to inform you about Triple S Group'S services. The Personal Information may also be analyzed so that we can provide you with useful information and can serve you in the best manner possible through enhanced features and functions on the Site.</strong>
        </p>
        <p>
            <strong> Legal Process, Safety and Terms Enforcement.</strong>  We may disclose your Personal Information to legal or government regulatory authorities in response to their requests for such Personal Information; for example, for standard reporting purposes or to assist in investigations. We may also disclose your Personal Information to third-parties in connection with claims, disputes or litigation, when otherwise required by law, or if we determine its disclosure is necessary to protect the health and safety of you, us or others or to enforce our legal rights or contractual commitments you have made.
        </p>
    </div>
</div>